
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

body{
    margin-left: 0%;
    overflow-x: hidden;
}

#top{
    display: flex;
}

#logo{
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: rgb(131, 16, 238);
    border-radius: 15px;
    color: whitesmoke;
    position: relative;
   
}

#nav-bar{
    flex: 1;
    color: rgb(131, 16, 238);
    padding: 5px;
    height: 30px;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

a:hover{
    text-shadow: 0px 0px 20px rgb(77, 74, 74);
}

#nav-controls{
    margin-top: 8px;
    position: relative;
    font-size: smaller;
}

#share-feelings{
    position: relative;
    width: 100vw;
    height: 300px;
    background-image: radial-gradient(circle at 10% 10%, rgb(233, 20, 162), rgb(23, 23, 218));
    text-align: center;
}

#share-box{
    margin: 0 auto;;
    background-color: whitesmoke;
    width: 600px;
    height: 150px;
    position: relative;
    top: 20%;
}

#heart-and-text{
    position: relative;
    top:20%;
}

#my-feeling{
    background-color: rgb(206, 162, 247);
    border-radius: 5px;
    border-width: 0px;
    position: relative;
    padding: 5px;
    width: 300px;
    outline: none;
}


/* ::placeholder{
    color: black;
}


input::placeholder:before{
    
    content: "Share feelings";
    font-weight: bold;
    color: rgb(131, 16, 238);
} */

#button1{
    background-color: rgb(131, 16, 238);
    padding: 5px;
    border-radius: 7px;
    color: whitesmoke;
    border: none;
    margin: 5px auto;
    position: relative;
    top: 50px; 
}
#heart{
    position: relative;
    color: rgb(131, 16, 238);
    left:323px;
    bottom: 10px;
    z-index: 1;
    font-size: larger;
}

#my-feeling[required]+label::before {
    content: 'Share feelings';
    color: rgb(131, 16, 238);
    font-weight: bold;
}
#my-feeling[required]+label {
    color: black;
    top: 4px;
    right: 145px ;
}  

#my-feeling[required]:invalid+label {
    display: inline-block;
}
  
#my-feeling[required]:valid+label {
    display: none;
}

div label{
    font-family: 200;
    position: absolute;
}

#bottom-text{
    position: relative;
    text-align: center;
    vertical-align: baseline;
    top:23%;
    color: whitesmoke;
}

#community-share{
    display: flex;
    justify-content: space-between;
    width: 100vw;

}

#box1{

    padding: 20px;
    background-color: rgb(206, 162, 247);
    height: 550px;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#box2{
    padding: 20px;
    align-self: flex-end;
    background-color: rgb(206, 162, 247);
    height: 550px;
    width: 46%;
    /* margin-left: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#post1{
    background-color: whitesmoke;
    margin: 0 auto;
    width: 50%;
    height: 200px;
    box-shadow: 0px 4px 15px rgb(122, 120, 120);
    font-weight: 200;
}

#post2{
    background-color: whitesmoke;
    margin: 0 auto;
    width: 50%;
    height: 200px;
    box-shadow: 0px 4px 15px rgb(122, 120, 120);
    font-weight: 200;
}

p{
    font-weight: inherit;
    margin: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}

#post-label{
    padding: 5px;
    background-color: rgb(206, 162, 247);
    border-radius: 10px;
    width:fit-content;
    position: relative;
    margin: 10px;
    font-weight: inherit;
}

#bottom{
    height: 550px;
    background-image: radial-gradient(circle at 10% 10%, rgb(233, 20, 162), rgb(23, 23, 218));
    width:100vw;
    font-weight: 200;
}

#party-emoji{
    position: relative;
    width: 230px;
    float: right;
    margin: 50px;
    top: 110px;
    right: 200px;
    filter:drop-shadow( 0px 10px 25px black);
}

#learn-more-box{
    position: relative;
    width: 450px;
    height: 225px;
    display: inline-block;
    background-color: whitesmoke;
    vertical-align: middle;
    top: 163px;
    left: 200px;
    font-weight: inherit;
    word-wrap:break-word;
}

button{
    padding: 5px;
    border-radius: 7px;
    background-color: rgb(131, 16, 238);
    color: whitesmoke;
    border: none;
    position: relative;
    margin: 10px;
}

#contact{
    background: red;
    background:  radial-gradient(circle at 10% 10%, rgb(233, 20, 162), rgb(23, 23, 218));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    border: 10px solid transparent;
    border-image:radial-gradient(circle at 10% 10%, rgb(233, 20, 162), rgb(23, 23, 218));
    border-image-slice: 1;
    text-align: left;
    height: 500px; 
    width: 98.5vw;
    margin-top: 10px;
}



#logo2{
    background-color: rgb(131, 16, 238);
    background-clip: padding-box;
    -webkit-text-fill-color: rgb(131, 16, 238);
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
    border-radius: 70px;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
}

#contact > h1{
    font-weight: lighter;
    float:left;
    font-size:600%;
    border-right: 3px solid gray;
    padding: 5px;
    margin-left: 15vw;
    margin-right: 15px;
    margin-top: 100px;   
}

.onScrollBar::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .onScrollBar::-webkit-scrollbar-track {
    background-color: transparent;
  }
   
  /* Handle */
  .onScrollBar::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
   
  }
  
  /* Handle on hover */
  .onScrollBar::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 16, 238); 
  }

 
  ::-webkit-scrollbar-track {
    box-shadow: none;  
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 0 !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

#contact-form{
    margin-top: 100px;
    -webkit-text-fill-color: initial;
}

#contact-form > input[type=text]{
    border:none;
    border-left: 3px solid rgb(131, 16, 238);
    outline-color: gray;
    background-color: rgb(206, 162, 247);
    
}

#contact-form > input[type=email]{
    border:none;
    border-left: 3px solid rgb(131, 16, 238);
    outline-color: gray;
    background-color: rgb(206, 162, 247);
    
}

#contact-form > textarea{
    border:none;
    border-left: 3px solid rgb(131, 16, 238);
    outline-color: gray;
    background-color: rgb(206, 162, 247);
}

#contact-form > input[type=text]::placeholder{
    color:gray
}

